<%-include("partials/C-header.ejs") %>
<h1 class = "main-heading">Request Status</h1>


<div class = "consumer-request-tab p-3">
    <h2>Request Accepted</h2>
    <div class = "row">
        <div class = "ml-2 col-6" style="font-weight: 600;">
            <p>Request id:</p>
            <p>Crop:</p>
            <p>Cost:</p>
            <p>Quantity:</p>
        </div>
        <div class = "col-8 col-md-5 p-5">
            <button class = "accept-button">Connect with farmer</button>
        </div>
    </div>
</div>
<div class = "consumer-request-tab p-3 mt-3">
    <h2>Request Rejected</h2>
    <div class = "row">
        <div class = "ml-2 col-6" style="font-weight: 600;">
            <p>Request id:</p>
            <p>Crop:</p>
            <p>Cost:</p>
            <p>Quantity:</p>
        </div>
    </div>
</div>