<%-include("partials/header.ejs") %>

 <div class = "d-flex flex-row justify-content-center">
    <div class = "crop-details-box d-flex flex-row p-4 row">
        <div class = " col-12 col-md-6">
            <img  src="images/tomatoes-in-hand.avif" alt="Card image" style="width:100%" class = "image-crop-details ">
        </div>
        <div class = "p-5 col-12 col-md-6">
            <h1 class = "crop-name-heading mb-4">Crop name</h1>
            <h3 class = "mb-3">Quantity: Quantity per Kg</h3>
            <h3 class = "mb-3">Price: Price per Kg  </h3>
            <h3 class = "mb-3">Listed Date : date </h3>

        </div>
    </div>
 </div>

 <h1 class="crop-name-heading text-center">Request Tab</h1>

<div class = "d-flex flex-column align-items-center">
    <div class="request-tab d-flex flex-row mb-3">
        <div>
            <h2>Consumer name</h2>
            <h5>Quantity</h5>
        </div>
        <div class = "buttons-tab">
            <button class="mb-2 accept-button">accept</button>
            <button class = "reject-button">reject</button>
        </div>
     </div>
     <div class="request-tab d-flex flex-row">
        <div>
            <h2>Consumer name</h2>
            <h5>Quantity</h5>
        </div>
        <div class = "buttons-tab">
            <button class="mb-2 accept-button">accept</button>
            <button class = "reject-button">reject</button>
        </div>
     </div>
</div>
 
    

<%-include("partials/footer.ejs") %>