<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultivating Connections</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patua+One&display=swap" rel="stylesheet">
    <!-- BS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f4b2636d3b.js" crossorigin="anonymous"></script>
    <!-- JS -->
    <script src="/styles/styles.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <header>
    <div class="nav-bg-img">
      <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="">Cultivating Connections</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link "href=" ">Dashboard </a>
            </li> 
            <li class="nav-item active">
              <a class="nav-link " href=" ">Sold Crops</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link " href=" ">Settings</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="main">
    <div class="farmer-name-container">
      <h1 class="farmer-name text-center">Farmer name's Dashboard</h1>
    </div>
    <div id="crops-on-sale">
      <div class="row ">
        <div class="col-12 col-md-6 col-xl-4 d-flex justify-content-center"> 
           <div class="card crop-container" style="max-width:400px">
            <img class="card-img-top" src="images/tomatoes-in-hand.avif" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">crop name</h4>
              <p class="card-text">
                village: -village name- <br>
                sold by: -farmer name- <br><!-- put farmer name here -->
                quantity: -78- kg <br><!-- put quantity here -->
                date: -17/02/2024- <br> <!-- put date here -->
              </p>
              <form action="/send-request">
                <div class="input-group">
                  <input type="number" class="input" id="" name="desired-quantity" placeholder="Enter quantity" autocomplete="off">
                  <input class="button--submit" value="Send Request" type="submit">
                </div>
              </form>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-md-6 col-xl-4 d-flex justify-content-center">
          <div class="card crop-container" style="max-width:400px">
            <img class="card-img-top" src="images/tomatoes-in-hand.avif" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">crop name</h4>
              <p class="card-text">
                village: -village name- <br>
                sold by: -farmer name- <br><!-- put farmer name here -->
                quantity: -78- kg <br><!-- put quantity here -->
                date: -17/02/2024- <br> <!-- put date here -->
              </p>
              <form action="/send-request">
                <div class="input-group">
                  <input type="number" class="input" id="" name="desired-quantity" placeholder="Enter quantity" autocomplete="off">
                  <input class="button--submit" value="Send Request" type="submit">
                </div>
              </form>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-md-6 col-xl-4 d-flex justify-content-center">
          <div class="card crop-container" style="max-width:400px">
            <img class="card-img-top" src="images/tomatoes-in-hand.avif" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">crop name</h4>
              <p class="card-text">
                village: -village name- <br>
                sold by: -farmer name- <br><!-- put farmer name here -->
                quantity: -78- kg <br><!-- put quantity here -->
                date: -17/02/2024- <br> <!-- put date here -->
              </p>
              <form action="/send-request">
                <div class="input-group">
                  <input type="number" class="input" id="" name="desired-quantity" placeholder="Enter quantity" autocomplete="off">
                  <input class="button--submit" value="Send Request" type="submit">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="button-add" data-toggle="modal" data-target="#staticBackdrop">Add crop</button>
      
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
          <div class="modal-content modal-style-edit">
            <div class="modal-header">
              <h5 class="modal-title modal-heading-style" id="staticBackdropLabel">Add transaction</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">    
               <label class = "label-head" >Expenditure</label> 
               <input type="text" name="expenditure" class="input-modal" placeholder="Expenditure" >
               <label class = "label-head">Select a Category:</label>
               <br>
                <select id="dropdown" class = "input-modal">
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
                <div class = "d-flex flex-row justify-content-end"><a href="">Add new category</a></div> <!-- fill this -->
                <br>
                <label class = "label-head" >Enter Amount</label> 
                <input type="number" name="amount" class="input-modal" placeholder="Amount" >
                <label class = "label-head"> Date</label>
                <input type = "date" name="date" class="input-modal">
            </div>
            <div class="modal-footer">
              <button type="button" class="modal-cancel-button" data-dismiss="modal">Close</button>
              <button type="button" class="modal-add-button">Add</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</body>
</html>