<%-include("partials/header.ejs") %>
<div class="">
    <div class = "p-3">
        <h1 class="main-heading ">Sold crop history</h1>
        <div class="sold-history-tab d-flex flex-row mb-3 w-100">
            <div class = "sold-icon-style d-flex flex-column justify-content-center m-4">
                <i class="fa-solid fa-cart-shopping fa-lg"></i>
            </div>
            
            <div class = "mt-2">
                <h2>Crop name</h2>
                <h5>Quantity</h5>
            </div>
            <div class = "ml-auto m-2">
                <h2>Consumer name</h2>
                <h5>Price per kg</h5>
            </div>
         </div>
         <div class="sold-history-tab d-flex flex-row w-100">
            <div class = "sold-icon-style d-flex flex-column justify-content-center m-4">
                <i class="fa-solid fa-cart-shopping fa-lg"></i>
            </div>
            <div class = "mt-2">
                <h2>Consumer name</h2>
                <h5>Quantity</h5>
            </div>
            <div class = "ml-auto m-2">
                <h2>Consumer name</h2>
                <h5>Price per kg</h5>
            </div>
         </div>
    </div>
     
    </div>
</div>

<%-include("partials/footer.ejs") %>