<%-include("partials/C-header.ejs") %>

<div class = "">
        <h1 class="main-heading ">Settings : </h1>
    <div class = "card-setting-style w-100">
        <h1 class = "setting-font mb-3">Your account:</h1>
        <p class = "setting-font-2">Name: </p>
        <p class = "setting-font-2">Phone no: </p>
        <p class = "setting-font-2">Password: </p>
    </div>
    <div class = "mt-5 w-100 text-center"> 
        <button class = "accept-button mr-4">Change Password</button>
        <button class = "reject-button ml-4"><a  href="/"  style="text-decoration: none; color: #ffff;"> Delete Account</a></button>
    </div>
    
</div>


<%-include("partials/footer.ejs") %>