html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    background-color: #e8e8e8;
    height: 100vh;
}

.main{
    padding: 2% 5%;
}
@media (max-width: 576px){
    .navbar{
        padding: 8px 7px;
    }
}

/* navbar */
.nav-item{
    font-size: 1.25rem;
    margin-left: 5vw;
}

.navbar-brand{
    font-size: 2rem;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}
@media(max-width:576px){
    .navbar-brand{
        font-size: 1.5rem;
        margin: 0;
    }
}

header{  
    background-image: url("/images/wider-green-leaves.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.nav-bg-img{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@media(max-width:576px){
    .nav-bg-img{
        padding: 0;
    }
}

/* heading in home page  */
.main-heading{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 1rem 0 2rem 0;
    font-size: 2.5rem;
    letter-spacing: -0.18rem;
}

/* crop container */
.crop-container{
    border-radius: 30px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    overflow: hidden;
    margin: 0.5rem 1rem;
}

.crop-img-container{
    width: 150px;
    height: 150px;
    background-image: url("/images/tomatoes-in-hand.avif");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat; 
    border-radius: 10px;
    border: 2px solid #4C774E;
    transition: all 0.3s;
}
.crop-img-container:hover{
    transform: scale(1.1);
}

.crop-details-container{
    margin-left: 5px;
}

/* input field and button in crop container for quantity */
.input-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.input-group:hover .quantity-input{
    border-color: #459201;
    outline: none;
}
  
.quantity-input{
    min-height: 50px;
    min-width: 123px;
    padding: 0 1rem;
    font-size: 15px;
    border: 1px solid #2e6002;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}
@media(max-width:576px){
    .quantity-input{
        padding: 0 0.4rem;
    }
}

.quantity-input:focus, .quantity-input:focus-visible{
    border-color: #459201;
    outline: none;
}

.button--submit{
    min-height: 50px;
    min-width: 110px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #2e6002;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
@media(max-width:576px){
    .button--submit{
        padding: 0.5rem 0.8rem;
    }
}
.button--submit:hover {
    background-color: #4fa801;
}

  
/* add crop button */
.button-add{
    color: #fff;
    font-weight: 700;
    position: fixed;
    right: 6%;
    bottom: 10px;
    z-index: 900;
    border-radius: 10px;
    padding: 1.1rem;
    border-width: 0px;
    background: rgb(91,190,3); 
    background: linear-gradient(90deg, rgba(91,190,3,1) 0%, rgba(105,195,11,1) 20%, rgba(112,189,24,1) 36%, rgba(118,194,18,1) 66%, rgba(114,176,19,1) 100%);
}
.button-add:hover{
    background: #459201;

}

/* modal styels */
.custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }
  


.label-head {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.modal-header{
    background: linear-gradient(90deg, rgba(91,190,3,1) 0%, rgba(105,195,11,1) 20%, rgba(112,189,24,1) 36%, rgba(118,194,18,1) 66%, rgba(114,176,19,1) 100%);
    background: #459201;
    color: #fff;
}

.input-modal{
    margin-bottom: 0.5rem;
    width: 100%;
    min-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}
.input-modal:hover{
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}
.price-input{
    max-width: 60px;
}
.modal-submit-button{
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    padding: 1.1rem;
    border-width: 0px;
    background-color: #459201;
    background: linear-gradient(90deg, rgba(91,190,3,1) 0%, rgba(105,195,11,1) 20%, rgba(112,189,24,1) 36%, rgba(118,194,18,1) 66%, rgba(114,176,19,1) 100%);
}
.modal-submit-button:hover{
    background: #459201;
}